@font-face {
  font-family: ikaros;
  src: url(Ikaros-Regular.otf)
}

@import url('https://fonts.googleapis.com/css?family=Allerta');

h1 {
  font-family: ikaros;
  font-size: 10em;
  padding-top: .5em;
  margin-bottom: 0;
}

#subtitle {
  margin-top: 0;
  margin-bottom: 10em; 
}

.header.bigger {
  font-size: 2em;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(270deg, #ccc, #babec1, #222222);
  background-size: 600% 600%;
  animation: gradientShift 30s ease infinite;
}

@keyframes gradientShift { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

h2, h3, h6, h5, p {
  font-family: ikaros;
}

button, input {
  font-family: 'Allerta', sans-serif;
}

.centered {
  margin-top: 5em;
  font-size: 2em;
}

.error {
  color: darkred;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.top-nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 2em;
}

.single-paint {
  max-height: 70vh;
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 20px 2px rgb(0, 0, 0);
  transition: all .5s;
}

.single-paint:hover{
  box-shadow: 0 0 20px 6px rgb(0, 0, 0);
  cursor: pointer;
  /* transform: translateY(-2px); */

}

#anotha {
  display: flex;
  margin: 0 auto;
  margin-top: 1.5em;
}

.section {
  padding: 3rem 1.5rem;
  display: block;
}

.container {
  margin: 0 auto;
  position: relative;
}

.header {
  opacity: .85;
  font-size: 1.5em;
}

#img-url {
  width: 30%;
  margin-right: .7em;
  border: none;
  border: 2px solid rgb(194, 194, 194);
}

input {
  padding: .6em;
  border-radius: 4px;
  margin: 0 .4em;
}

.scroll {
  overflow: scroll;
  max-height: 75vh;
  margin-top: 1em;
}

#signup{
  display: block; 
}

.med-button {
  padding: 1em;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  background: transparent;
  box-shadow: 0 0 2px grey;
  margin: 0 .5em;
  transition: all .5s;
}

.med-button:hover {
  background-color: rgba(255, 255, 255, 0.4); 
  border-color: rgb(218, 218, 218);
}

.large-button{
  padding: .7em;
  border-radius: 4px;
  font-size: 1.5em;
  cursor: pointer;
  background: transparent;
  box-shadow: 0 0 .5em grey;
  margin: 0 .5em;
  transition: all .5s;
}
.large-button:hover {
  background-color: rgba(255, 255, 255, 0.4); 
  border-color: rgb(218, 218, 218);
}

.light {
  display: flex;
  position: absolute;
  background: gray;
  margin-left: 2em;
  box-shadow: 0 0 3px whitesmoke;
}

.light:hover{
  background: rgba(255, 255, 255, 0.4);
}

.back-button {
  margin-right: 80%;
  margin-top: 2%;
  border: none;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

.slower {
  animation-duration: 2.8s;
}
/* profile */
.spaced {
  letter-spacing: .2em;
  text-shadow: 0 0 0.8em white;
  font-size: 3em;
}

#prof-upper {
  background-image: url("pink-blue-smoke.jpg");
  background-size: cover;
  height: 120vh;
}

/* #back-gradient {
  background: linear-gradient(270deg, white, purple, white);
  animation: gradientShift 20s ease infinite;
  height: 100vh;
  background-size: 600% 600%;
  opacity: .8;
} */


/* toggle slider */
#toggle p {
  margin: 0px;
  margin-right: .5em;
  padding-top: 1px;
  font-family: ikaros;
}
#toggle {
  display: flex;
  align-items: flex-start;
  margin: 0px;
  margin-left: 2em;
}
.switch {
  position: relative;
  display: block;
  width: 52px;
  height: 22px;
  float: left;
}
form {
  display: flex;
  justify-content: center; 
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(124, 182, 230);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(20px);
}


/* paintings container */

.paint-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  
}

.listed-paint {
  max-height: 300px;
  margin-top: 2em;
  border-radius: 20px;
  box-shadow: 0 0 20px 2px rgb(0, 0, 0);
  transition: all .5s;
}

.listed-paint:hover{
  box-shadow: 0 0 20px 6px rgb(0, 0, 0);
  transform: translateY(-3px);
  cursor: pointer; 
}


/* animation styling */

/* halo animation */
.haloCont {
  position: absolute;
	top: 40%;
	left: 45%;
	width: 28px;
	height: 28px;
	margin: -14px 0 0 -14px;
}

.spinner {
	position: absolute;
	left: 1px;
	top: 0px;
	width: 150px;
	height: 150px;
	animation: spin 8s infinite linear;
}

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
hr {
  border-top: 1px solid whitesmoke; 
  width: 85%;
}
/* inner circles animation */
.view {
  position: absolute;
   top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  perspective: 10px;
  pointer-events:none;
  /* animation: perspect 5s infinite linear; */
}

.plane {
  width: 120px;
  height: 120px;
  transform-style: preserve-3d;
}

.plane.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotateX(60deg) rotateZ(-30deg);
/*   -webkit-animation: rotate 20s infinite linear; */
  animation: rotate 20s infinite linear;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
            transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
           transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

@keyframes perspect {
  0% {
      perspective: 10px;
  }
  50% {
      perspective: 10px;
  }
  100% {
      perspective: 10px;
  }
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}